
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

h2 {
    color: #FFE8B8;
    text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif
}

p {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 1.6;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    height:60vh;
    border-radius: 50px;
    background: linear-gradient(0deg,rgba(158, 0, 0, 1) 0%, rgba(255, 232, 184, 1) 100%);
    background-size: auto 100%;
    background-repeat: repeat-y;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in-out;
}

.panel h2 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel p {
    opacity: 0;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: none;
}

.panel.active p:last-child {
    margin-bottom: 100px;
}

.panel.active p {
    opacity: 1;
    transition: opacity 0.7s ease-in .6s;
    display: block;
}

.panel.active {
    flex: 5;
}

.panel.active h2 {
    opacity: 1;
    transition: opacity 0.7s ease-in .3s;
}

.textbox {
    position: relative;
    top: 30px;
    width: 90%;
    height: 80%;
    margin: auto;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, #000 35%,
    #000 65%,
    transparent 100%);
    opacity: 0;
}

.panel.active .textbox {
    opacity: 1;
    transition: opacity 0.7s ease-in .7s;
}

.panel .circle {
    background-color: rgba(34, 139, 34, 0);
    border: 5px solid #000;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: auto;
    opacity: 0;
    display: none;
}
   
.panel.active .circle {
    opacity: 1;
    transition: opacity 0.7s ease-in .6s;
    display: block;
}
 

.rabbit {
    width: 70vw;
    height: 60vh;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, transparent 0%, #000 10%,
    #000 90%,
    transparent 100%);
}

.bunny p{
    text-align:justify;
    width: 70vw;
}

.rabbit img {
    width:80%;
    margin:auto;
    margin-bottom:20px;
    display: block;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
